 html {
    display: flex;
    flex-direction: row;
    flex-flow: column;
 }
 .vehicle {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(206, 220, 233);
    margin: 10px;
}
h4 {
    text-align: center;
}